<h1>Информация о профиле клиента</h1>
<table>
  <tr>
    <th>Логин</th>
    <th>Пароль</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Номер тлф</th>
    <th>Город</th>
    <th>Рейтинг</th>
  </tr>
  <tr>
    <td>{{clientSource?.login}}</td>
    <td>{{clientSource?.password}}</td>
    <td>{{clientSource?.name}}</td>
    <td>{{clientSource?.fname}}</td>
    <td>{{clientSource?.pnumber}}</td>
    <td>{{clientSource?.city}}</td>
    <td>{{clientSource?.rating}}</td>
  </tr>
</table>

<nav>
  <button (click)="redirectToMain()"> На главную </button>
</nav>

<h3> Форма для обновления данных </h3>
<div>
  <form [formGroup]="clientForm" (ngSubmit)="onClientFormSubmit()">
    <table>
      <tr><td>Введите новый логин</td><td><input formControlName="login">
      </td></tr>
      <tr><td>Введите новый пароль</td><td><input formControlName="password">
      </td></tr>
      <tr><td>Введите новое имя</td><td><input formControlName="name">
      </td></tr>
      <tr><td>Введите новую фамилию</td><td><input formControlName="fName">
      </td></tr>
      <tr><td>Введите новый номер телефона</td><td><input formControlName="pnumber">
      </td></tr>
      <tr><td>Введите новый город</td><td><input formControlName="city">
      </td></tr>
      <tr><td><button>Обновить</button></td><td><button routerLink="" (click)="deleteClient(clientSource.login)">Delete</button>
      </td></tr>
    </table>
  </form>
  <br/>
</div>

<h3> Ваши машины </h3>
<div>
  <table>
    <tr>
      <th>Номер</th>
      <th>Марка</th>
      <th>Цвет</th>
      <th>Тип кузова</th>
    </tr>
    <tr *ngFor="let car of clientCars" >
      <td>{{car.number}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
      <td>{{car.carType.carType}}</td>
      <td><button type="button" (click)="deleteCar(car.id)">Удалить</button></td>
    </tr>
    </table>

  <form [formGroup]="newCarForm" (ngSubmit)="onNewCarFormSubmit()">
    <table>
      <tr>
        <td>Number</td>
        <td><input formControlName="number"></td>
        <td><label *ngIf="newCarForm.get('number').invalid && processValidation" [ngClass] = "'error'" > Number is required. </label></td>
      </tr>
      <tr>
        <td>Brand</td>
        <td><input formControlName="brand"></td>
        <td><label *ngIf="newCarForm.get('brand').invalid && processValidation" [ngClass] = "'error'"> Brand is required. </label></td>
      </tr>
      <tr>
        <td>Color</td>
        <td><input formControlName="color"></td>
        <td><label *ngIf="newCarForm.get('color').invalid && processValidation" [ngClass] = "'error'"> Color is required. </label></td>
      </tr>
     <tr>
        <td>Выберите тип кузова</td><td><select formControlName="carType">
        <option *ngFor="let carType of carTypes" value={{carType.id}}>{{carType.carType}}</option>
      </select>
        <label *ngIf="newCarForm.get('carType').invalid && processValidation" [ngClass] = "'error'"> Обязательное поле </label>
      </td>
     </tr>
        <td>
          <button>OK</button>
        </td>
    </table>
  </form>
</div>
<div>
<h3> Ваши заказы </h3>
  <div>
    <table>
      <tr>
        <th>Тип услуги</th>
        <th>Дата</th>
        <th>Цена</th>
      </tr>
      <tr *ngFor="let order of clientOrders" >
        <td>{{order.serviceType}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.totalPrice}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="clientAvOrders.length != 0">
    <h3> Ваши активные заказы </h3>
    <div *ngFor="let avOrder of clientAvOrders">
      <app-client-available-order [avOrder]="avOrder" ></app-client-available-order>
    </div>
  </div>
</div>
