<h1>Authorization</h1>
<h3> Sign as admin</h3>
<a routerLink="/worker-auth">Sign as worker</a>
<a routerLink="/client-auth">Sign as client</a>
<div>
  <form [formGroup]="adminAuthForm" (ngSubmit)="onAdminFormSubmit()">
    <table>
      <tr>
        <td>Login</td>
        <td><input formControlName="login"></td>
        <td><label *ngIf="adminAuthForm.get('login').invalid && processValidation" [ngClass] = "'error'" > Login is required. </label></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input formControlName="password"></td>
        <td><label *ngIf="adminAuthForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label></td>
      </tr>
      <tr>
        <td colspan="2">
          <button>OK</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="admin != null" [ngClass] = "'success'">
    U're sign as {{admin | json}}
  </div>
</div>
