<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToLK()"> Личный кабинет </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToMain()"> Заказать услугу </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToOrders()"> Заказы </button>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>

<div id="avOrders" align="center" *ngIf="clientAvOrders !== null && clientAvOrders !== undefined && clientAvOrders.length !== 0">
  <h3> Ваши активные заказы </h3>
  <table>
    <div *ngFor="let avOrder of clientAvOrders">
        <tr>
          <app-client-available-order [avOrder]="avOrder" ></app-client-available-order>
        </tr>
    </div>
  </table>
  <button (click)="getAvOrders()" class="btn btn-outline-success my-2 my-sm-0">Обновить статус</button>
</div>

<div align="center" *ngIf="clientAvOrders === null || clientAvOrders === undefined || clientAvOrders.length === 0">
  <h3>Здесь будут отображаться ваши активные заказы</h3>
</div>

<div id="ordersInProcess" align="center">
  <table>
  <div *ngFor="let order of clientOrders" >
    <div *ngIf="order.status == 1 || order.status == 2 || order.status == 3">
      <tr>
        <app-client-orders-final [order] = "order"></app-client-orders-final>
      </tr>
    </div>
  </div>
  </table>
  <p>&#160;</p>
</div>

<div id="orders" align="center">
  <h3> Ваши завершенные заказы </h3>
  <div id="filter" align="center">
    <form [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit()">
      <table>
        <tr>
          <td>Тип услуги</td>
          <td>Сумма от</td>
          <td>до</td>
          <td>Дата от</td>
          <td>до</td>
        </tr>
        <tr>
          <td><input type="text" formControlName="serviceType" class="form-control mr-sm-2"></td>
          <td><input type="text" formControlName="price1" class="form-control mr-sm-2"></td>
          <td><input type="text" formControlName="price2" class="form-control mr-sm-2"></td>
          <td><input type="text" formControlName="fromDate" class="form-control mr-sm-2" placeholder="YYYY-MM-DD"></td>
          <td><input type="text" formControlName="toDate" class="form-control mr-sm-2" placeholder="YYYY-MM-DD"></td>
          <button class="btn btn-outline-success my-2 my-sm-0">Применить</button>
        </tr>
      </table>
    </form>
  </div>
  <p>&#160;</p>

  <table>
    <tr>
      <td colspan="3"><h5>Количество заказов: {{clientFinishedOrders?.length}}</h5></td>
    </tr>
    <tr>
      <th>Тип услуги&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Дата&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Цена&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let order of clientFinishedOrders" >
      <td>{{order.serviceType}}</td>
      <td>{{order.orderDate}}</td>
      <td>{{order.totalPrice}}</td>
    </tr>
  </table>
  <p>&#160;</p>
  <h5 *ngIf="money != 0">Количество потраченных денег: {{money}}</h5>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
