<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToLK()"> Личный кабинет </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToMain()"> Заказать услугу </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToOrders()"> Заказы </button>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>

<div id="orders" align="center">
  <h3> Ваши заказы </h3>
  <table>
    <tr>
      <th>Тип услуги&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Дата&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Цена&#160;&#160;&#160;&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let order of clientOrders" >
      <td>{{order.serviceType}}</td>
      <td>{{order.orderDate}}</td>
      <td>{{order.totalPrice}}</td>
    </tr>
  </table>
</div>

<div id="avOrders" align="center" *ngIf="clientAvOrders !== null && clientAvOrders !== undefined && clientAvOrders.length !== 0">
  <h3> Ваши активные заказы </h3>
  <div *ngFor="let avOrder of clientAvOrders">
    <app-client-available-order [avOrder]="avOrder" ></app-client-available-order>
  </div>
  <button (click)="getAvOrders()" class="btn btn-outline-success my-2 my-sm-0">Обновить статус</button>
</div>
<div align="center" *ngIf="clientAvOrders === null || clientAvOrders === undefined || clientAvOrders.length === 0">
  <h3>Здесь будут отображаться ваши активные заказы</h3>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
