<div id="avOrders">
  <h3 id="activeOrder" align="center">Активные заказы</h3>
  <table>
    <tr>
      <th>Адрес&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Услуга&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Имя клиента&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Номер клиента&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Автомобиль&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Комментарий&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Взять заказ&#160;&#160;&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let order of sourceAvOrders">
      <td>{{order.address}}</td>
      <td>{{order.serviceType}}</td>
      <td>{{order.client.name}}</td>
      <td>{{order.client.pnumber}}</td>
      <td>{{order.car.brand}} {{order.car.number}} {{order.car.carType.carType}}</td>
      <td>{{order.commentary}}</td>
      <td>
        <div *ngIf="order.workers === null || order.workers.indexOf(id) < 0">
          <button (click)="accept(order)">Взять заказ</button>
        </div>
        <div *ngIf="order.workers != null && order.workers.indexOf(id) > -1">
          <label>Вы подали заявку на этот заказ</label>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="right">
        <button (click)="getAvOrders()" class="btn btn-outline-success my-2 my-sm-0">Обновить статус заказов</button>
      </td>
    </tr>
  </table>
</div>
