#avOrders {
  position: relative; /* Относительное позиционирование */
  left: 350px; /* Смещаем слой вправо на ширину левого слоя */
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:450px;
}
#activeOrder{
  position: absolute;
  left: 200px; /* Смещаем слой вправо на ширину левого слоя */
  top:-40px;
}
