#passport{
  position: relative; /* Абсолютное позиционирование */
  left: 720px;
  width: 450px;
  top: 35px;
}
#comment{
  position: relative; /* Абсолютное позиционирование */
  left: 720px;
  width: 450px;
  top: 35px;
}

