<div *ngIf="avOrder !== null">
  <label>Ваш заказ:&#160;&#160;&#160;&#160; {{avOrder?.serviceType}} для {{avOrder?.car.brand}} {{avOrder?.car.carType.carType}}&#160;&#160;&#160;&#160;</label>
  <p></p>
  <p></p>
<div>
  <h5>Ваш заказ готовы принять:</h5>
  <table>
    <tr>
      <th>Работник&#160;&#160;&#160;&#160;</th>
      <th>Рейтинг&#160;&#160;&#160;&#160;</th>
      <th>Стоимость&#160;&#160;&#160;&#160;</th>
      <th>Выбрать&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let service of services" >
      <td>{{service.worker.name}} {{service.worker.fname}}</td>
      <td>{{service.worker.rating}}</td>
      <td>{{service.coef * service.price.price}}</td>
      <td><button (click)="choose(service.worker, service)">Выбрать</button></td>
    </tr>
  </table>
</div>
</div>
<p></p>
<p></p>

