<div *ngIf="avOrder != null">
  <table>
    <tr>
      <td>
        <h5>Ваш заказ:&#160;&#160;&#160;&#160;</h5>
      </td>
      <td colspan="4">
        <label> {{avOrder?.serviceType}} для {{avOrder?.car.brand}} {{avOrder?.car.carType.carType}}&#160;&#160;&#160;&#160;</label>
      </td>
      <td>
        <button (click)="cancel()" class="btn btn-danger">Отменить</button>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Готовы принять:&#160;&#160;&#160;&#160;</h5>
      </td>
      <td>Работник&#160;&#160;&#160;&#160;</td>
      <td>Рейтинг&#160;&#160;&#160;&#160;</td>
      <td>Стоимость&#160;&#160;&#160;&#160;</td>
      <td>Выбрать&#160;&#160;&#160;&#160;</td>
    </tr>
    <tr *ngFor="let service of services" >
      <td></td>
      <td>{{service.worker.name}} {{service.worker.fname}}&#160;&#160;&#160;&#160;</td>
      <td>{{service.worker.rating}}&#160;&#160;&#160;&#160;</td>
      <td>{{service.coef * service.price.price}}&#160;&#160;&#160;&#160;</td>
      <td><button (click)="choose(service.worker, service)" class="btn btn-outline-success my-2 my-sm-0">Выбрать</button></td>
    </tr>
  </table>
</div>
<p>&#160;</p>



