<div id="orders">
  <h3 id="h3done">Выполненные заказы</h3>
  <div *ngIf="allOrders?.length === 0">
    Вы пока не выполняли заказы!
  </div>
  <div *ngIf="allOrders?.length != 0">
  <table>
    <tr>
      <th>Оценка клиента&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Ваша оценка&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Дата&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Услуга&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Цена&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Клиент&#160;&#160;&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let order of allOrders" >
      <td>{{order?.clientMark}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.workerMark}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.orderDate}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.serviceType}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.totalPrice}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.client?.name + ' ' + order?.client?.fname}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
    </tr>
  </table>
  </div>
</div>
