#orders {
  position: relative; /* Относительное позиционирование */
  left: 380px; /* Смещаем слой вправо на ширину левого слоя */
  width: 900px; /* Ширина слоя */
  padding: 10px; /* Поля вокруг текста */
  top:550px;
}

#h3done{
  position: absolute;
  left: 145px; /* Смещаем слой вправо на ширину левого слоя */
  top:-40px;
}
