<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <form [formGroup]="readyForm">
          <label class="nav-link" *ngIf="workerSource?.status == 1 || workerSource?.status == 2 || workerSource?.status == 0">
            Готов выполнять заказы:
            <input type="checkbox" formControlName="ready" (change)="updateStatus()"/>
          </label>
        </form>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToLK()"> Личный кабинет </button>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>

<div id="orders" align="center">
  <h3 id="h3done">Выполненные заказы</h3>
  <div *ngIf="allOrders?.length === 0">
    <h3>Вы пока не выполняли заказы!</h3>
  </div>
  <div *ngIf="allOrders?.length != 0">
  <table>
    <tr>
      <th>Оценка клиента&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Ваша оценка&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Дата&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Услуга&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Цена&#160;&#160;&#160;&#160;&#160;&#160;</th>
      <th>Клиент&#160;&#160;&#160;&#160;&#160;&#160;</th>
    </tr>
    <tr *ngFor="let order of allOrders" >
      <td>{{order?.clientMark}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.workerMark}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.orderDate}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.serviceType}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.totalPrice}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
      <td>{{order?.client?.name + ' ' + order?.client?.fname}}&#160;&#160;&#160;&#160;&#160;&#160;</td>
    </tr>
  </table>
  </div>
</div>

<p></p>
<p></p>

<div *ngIf="workerSource?.status == 1" align="center">
  <app-worker-available-orders [login]="workerSource?.login" [id]="workerSource?.id">
  </app-worker-available-orders>
</div>
