#newService {
  position: absolute; /* Относительное позиционирование */
  left: 750px; /* Смещаем слой вправо на ширину левого слоя */
  top: 230px;
  width: 550px; /* Ширина слоя */
  padding: 20px; /* Поля вокруг текста */
}

#services {
  position: absolute; /* Абсолютное позиционирование */
  top:420px;
  left: 770px;
  width: 450px; /* Ширина слоя  */
}
