<h1>Authorization</h1>
<h3> Sign as worker </h3>
<a routerLink="/client-auth">Sign as client</a>
<div>
  <form [formGroup]="workerAuthForm" (ngSubmit)="onWorkerFormSubmit()">
    <table>
      <tr>
        <td>Login</td>
        <td><input formControlName="login"></td>
        <td><label *ngIf="workerAuthForm.get('login').invalid && processValidation" [ngClass] = "'error'" > Login is required. </label></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input formControlName="password"></td>
        <td><label *ngIf="workerAuthForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label></td>
      </tr>
      <tr>
        <td>
          <button>OK</button>
        </td>
        <td>
          <button routerLink="/worker">Register</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="worker != null" [ngClass] = "'success'">
    U're sign as {{worker | json}}
  </div>
</div>

