<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-auth" class="nav-link">Войти</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client-reg" class="nav-link">Зарегистрироваться, как клиент</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/worker-reg" class="nav-link">Зарегистрироваться, как сотрудник</a>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>
<p>&#160;</p>


<h1 align="center">Регистрация для новых сотрудников</h1>
<div align="center">
  <form [formGroup]="workerForm" (ngSubmit)="onWorkerFormSubmit()">
    <table>
      <tr>
        <td>Login</td>
        <td><input formControlName="login" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('login').invalid && processValidation" class="text-danger" > Логин не указан </label></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input formControlName="password" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('password').invalid && processValidation" class="text-danger"> Пароль не указан </label></td>
      </tr>
      <tr>
        <td>First name</td>
        <td><input formControlName="name" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('name').invalid && processValidation" class="text-danger"> Имя не указано </label></td>
      </tr>
      <tr>
        <td>Last name</td>
        <td><input formControlName="fname" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('fname').invalid && processValidation" class="text-danger"> Фамилия не указана </label></td>
      </tr>
      <tr>
        <td>Phone number&#160;</td>
        <td><input formControlName="pnumber" class="form-control mr-sm-2" placeholder="In format '88005553535'"></td>
        <td><label *ngIf="workerForm.get('pnumber').invalid && processValidation" class="text-danger"> Номер телефона </label></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input formControlName="city" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('city').invalid && processValidation" class="text-danger"> Город не указан </label></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input formControlName="email" class="form-control mr-sm-2"></td>
        <td><label *ngIf="workerForm.get('email').invalid && processValidation" class="text-danger"> Email не указан </label></td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-outline-success my-2 my-sm-0">OK</button>
        </td>
        <td align="right">
          <button routerLink="/start-page" class="btn btn-danger">Отмена</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="statusCode">
    <div *ngIf="statusCode === 409">
      <p align="center" class="text-warning">Такой логин уже существует!</p>
    </div>
    <div *ngIf="statusCode === 422">
      <p align="center" class="text-danger">Неверно заполнены поля! Проверьте формат ввода!</p>
    </div>
    <div *ngIf="statusCode === 400">
      <p align="center" class="text-danger">Неверно заполнены поля! Проверьте формат ввода!</p>
    </div>
    <div *ngIf="statusCode === 500">
      <p align="center" class="text-danger">Произошла ошибка на сервере!</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
