<h1>Информация о профиле работника</h1>
<table>
  <tr>
    <th>Логин</th>
    <th>Пароль</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Номер тлф</th>
    <th>Город</th>
    <th>Рейтинг</th>
    <th>Статус</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{workerSource?.login}}</td>
    <td>{{workerSource?.password}}</td>
    <td>{{workerSource?.name}}</td>
    <td>{{workerSource?.fname}}</td>
    <td>{{workerSource?.pnumber}}</td>
    <td>{{workerSource?.city}}</td>
    <td>{{workerSource?.rating}}</td>
    <td>{{workerSource?.status}}</td>
    <td>{{workerSource?.email}}</td>
  </tr>
</table>

<nav>
  <button (click)="redirectToMain()"> На главную </button>
</nav>
<form [formGroup]="readyForm">
<label *ngIf="workerSource?.status == 1 || workerSource?.status == 2 || workerSource?.status == 0">
  Готов выполнять заказы:
  <input type="checkbox"  formControlName="ready" (change)="updateStatus()"/>
</label>
</form>

<h3> Форма для обновления данных </h3>
<div>
  <form [formGroup]="workerForm" (ngSubmit)="onWorkerFormSubmit()">
    <table>
      <tr><td>Введите новый логин</td><td><input formControlName="login">
      </td></tr>
      <tr><td>Введите новый пароль</td><td><input formControlName="password">
      </td></tr>
      <tr><td>Введите новое имя</td><td><input formControlName="name">
      </td></tr>
      <tr><td>Введите новую фамилию</td><td><input formControlName="fName">
      </td></tr>
      <tr><td>Введите новый номер телефона</td><td><input formControlName="pnumber">
      </td></tr>
      <tr><td>Введите новый город</td><td><input formControlName="city">
      </td></tr>
      <tr><td>Статус:</td><td><input formControlName="status">
      </td></tr>
      <tr><td>Введите новый Email</td><td><input formControlName="email">
      </td></tr>
      <tr><td><button>Обновить</button></td><td><button routerLink=""  (click)="deleteWorker(workerSource.login)">Delete</button>
      </td></tr>
    </table>
  </form>
  <br/>
</div>

<div *ngIf="workerSource != null;">
  <div *ngIf="workerSource.status == 1 || workerSource.status == 2 || workerSource.status == 0">
    <app-worker-services [login]="workerSource.login" [password]="workerSource.password">
    </app-worker-services>
    <app-worker-orders [login]="workerSource.login" [password]="workerSource.password">
    </app-worker-orders>
  </div>
  <div *ngIf="workerSource.status == 1">
  <app-worker-available-orders [login]="workerSource.login" [id]="workerSource.id">
  </app-worker-available-orders>
  </div>
  <div *ngIf="workerSource.status != 1 && workerSource.status != 2 && workerSource.status != 0">
    <app-worker-passports [login]="workerSource.login" [password]="workerSource.password">
    </app-worker-passports>
  </div>
</div>
