<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToOrders()"> Заказы </button>
      </li>
    </ul>
  </div>
</nav>

<h1 align="center" id="id">Информация о профиле работника</h1>
<table align="center" id="id1">
  <tr>
    <th>Логин&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Пароль&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Имя&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Фамилия&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Номер тлф&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Город&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Рейтинг&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Статус&#160;&#160;&#160;&#160;&#160;&#160;</th>
    <th>Email&#160;&#160;&#160;&#160;&#160;&#160;</th>
  </tr>
  <tr>
    <td>{{workerSource?.login}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.password}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.name}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.fname}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.pnumber}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.city}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.rating}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.status}}&#160;&#160;&#160;&#160;</td>
    <td>{{workerSource?.email}}&#160;&#160;&#160;&#160;</td>
  </tr>
</table>
<p>&#160;</p>

<div id="accordion">
  <accordion>
    <accordion-group>
      <div accordion-heading class="clearfix">
        <h3 align="center"> Форма для обновления данных </h3>
        <h6 align="center" style="color: green">
          Нажмите сюда, чтобы изменить логин/пароль или другую личную информацию, указанную при регистрации.
        </h6>
      </div>
      <div align="center">
        <form [formGroup]="workerForm" (ngSubmit)="onWorkerFormSubmit()">
          <table>
            <tr>
              <td>Введите новый логин</td>
              <td><input formControlName="login" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новый пароль</td>
              <td><input formControlName="password" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новое имя</td>
              <td><input formControlName="name" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новую фамилию</td>
              <td><input formControlName="fName" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новый номер телефона</td>
              <td><input formControlName="pnumber" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новый город</td>
              <td><input formControlName="city" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>Введите новый Email</td>
              <td><input formControlName="email" class="form-control mr-sm-2"></td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-outline-success my-2 my-sm-0">Обновить</button>
              </td>
              <td>
                <button class="btn btn-danger" routerLink=""  (click)="deleteWorker(workerSource.login)">Удалить аккаунт</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </accordion-group>
    <accordion-group *ngIf="workerSource.status == 1 || workerSource.status == 2 || workerSource.status == 0">
      <div accordion-heading class="clearfix">
        <h3 align="center"> Добавьте Вашу сферу услуг! </h3>
        <h6 align="center" style="color: green">
          Вы сами выбираете тот тип работ, который Вы хотите выполнять. Нажмите сюда, чтобы добавить новый сервис и
          просмотреть уже имеющиеся.
        </h6>
      </div>
      <app-worker-services></app-worker-services>
    </accordion-group>
    <accordion-group *ngIf="workerSource.status != 1 && workerSource.status != 2 && workerSource.status != 0">
      <div accordion-heading class="clearfix">
        <h3 align="center"> Заполните Ваши паспортные данные! </h3>
        <h6 align="center" style="color: green">
          После проверки паспортных данных модератором, Вы сможете приступить к работе.
        </h6>
      </div>
      <app-worker-passports>
      </app-worker-passports>
    </accordion-group>
  </accordion>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
