<div align="center">
  <form [formGroup]="adminForm" (ngSubmit)="onAdminFormSubmit()">
    <table>
      <tr>
        <td>Логин</td>
        <td><input formControlName="login" class="form-control mr-sm-2"></td>
        <td><label *ngIf="adminForm.get('login').invalid && processValidation" [ngClass] = "'error'" > Login is required. </label></td>
      </tr>
      <tr>
        <td>Пароль</td>
        <td><input formControlName="password" class="form-control mr-sm-2"></td>
        <td><label *ngIf="adminForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-outline-success my-2 my-sm-0">OK</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="statusCode;">
    <div *ngIf="statusCode === 201" [ngClass] = "'success'">
     Успешно добавлен
    </div>
    <div *ngIf="statusCode === 409" [ngClass] = "'success'">
      Такой логин уже существует
    </div>
    <div *ngIf="statusCode === 500" [ngClass] = "'error'">
      Ошибка сервера
    </div>
  </div>
</div>
