
<div id="register">
  <h3> Зарегистрировать нового админа</h3>
  <form [formGroup]="adminForm" (ngSubmit)="onAdminFormSubmit()">
    <table>
      <tr>
        <td>Логин</td>
        <td><input formControlName="login" class="form-control mr-sm-2"></td>
        <td><label *ngIf="adminForm.get('login').invalid && processValidation" class="text-danger"> Логин не указан </label></td>
      </tr>
      <tr>
        <td>Пароль</td>
        <td><input formControlName="password" class="form-control mr-sm-2"></td>
        <td><label *ngIf="adminForm.get('password').invalid && processValidation" class="text-danger"> Пароль не указан </label></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-outline-success my-2 my-sm-0">Создать</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div *ngIf="statusCode">
            <div *ngIf="statusCode === 409">
              <p class="text-warning">Такой логин уже существует!</p>
            </div>
            <div *ngIf="statusCode === 500">
              <p class="text-danger">Произошла ошибка на сервере!</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
  <br/>
</div>
