
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a href="#" class="navbar-brand">
    <img src="http://car-service63.ru/bitrix/templates/main/images/logo-retina.png"
         width="150" height="40" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/start-page" class="nav-link">Главная</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link">Войти</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client-reg" class="nav-link">Зарегестрироваться, как клиент</a>
      </li>
      <li class="nav-item">
        <a routerLink="/worker-reg" class="nav-link">Зарегестрироваться, как сотрудник</a>
      </li>
    </ul>
  </div>
</nav>
<p>&#160;</p>
<p>&#160;</p>
<p>&#160;</p>



<div>
  <form class="form-signin" [formGroup]="userAuthForm" (ngSubmit)="onUserFormSubmit()">
    <h1 class="h1 mb-3 font-weight-normal" font="normal" weight="normal" align="center">Авторизация</h1>
    <h3 align="center"> Войти</h3>
    <table align="center">
      <tr>
        <td class="sr-only">Login</td>
        <td><input type="email" class="form-control mr-sm-2" formControlName="login" placeholder="Login" aria-label="Login"></td>
        <td><label *ngIf="userAuthForm.get('login').invalid && processValidation" [ngClass] = "'error'" > Login is required. </label></td>
      </tr>
      <tr>
        <td class="sr-only">Password</td>
        <td><input type="password" class="form-control mr-sm-2" formControlName="password" placeholder="Password" aria-label="Password"></td>
        <td><label *ngIf="userAuthForm.get('password').invalid && processValidation" [ngClass] = "'error'"> Password is required. </label></td>
      </tr>
      <tr>
        <td align="right" colspan="2">
          <button class="btn btn-outline-success my-2 my-sm-0">OK</button>
        </td>
      </tr>
    </table>
  </form>
  <br/>
  <div *ngIf="user != null" [ngClass] = "'success'">
    U're sign as {{user | json}}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

